<h1 style="background-color:LightSeaGreen">Library Access </h1>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.topnav {
   background-color: LightSeaGreen;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: White;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: DarkSeaGreen;
    color: White;
}

.topnav a.active {
    background-color: SeaGreen;
    color: White;
}
</style>

<body>
<div class="topnav">
<a target="_parent" href="/">Home</a>
<a href="library" class="active">Library Access</a>
<a href="projects">Projects</a>
<a href="papers">Papers</a>
</div>

<h2>Welcome to the library! This a database of our physical copies of books, music, games and moveis. Feel free to browse any one of our collections.</h2>


<a href="library/books" class="button" style="background-color: MidNightBlue; color: White">Books</a>
<a href="library/music" class="button">Music</a>
<a href="library/games" class="button">Games</a>
<a href="library/movies" class="button">Movies</a>

</body>

