<h1 style="background-color:LightSeaGreen; color:White; padding: 14px 16px"> PROJECTS IN PROGRESS </h1>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.topnav {
   background-color: LightSeaGreen;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: White;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: DarkSeaGreen;
    color: White;
}

.topnav a.active {
    background-color: SeaGreen;
    color: White;
}
</style>

<body>
<div class="topnav">
<a target="_parent" href="/">Home</a>
<a href="library">Library Access</a>
<a href="projects" class="active">Projects</a>
<a href="papers">Papers</a>
</div>
</body>

